// import our _custom-variables.scss partial file
@import 'custom-variables';
// import _bootstrap.scss partial file from the node_modules
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/aos/src/sass/aos.scss';
.card{
  height: 200px;
  background: $teal;
}
img.special{
  border: 4px solid $primary;
}
.ajax-content{
  padding: 20px 0;
}
.nav-link.active{
  color: #000;
}
.ajax-content{
  min-height: 200px;
}
